<!DOCTYPE html>
<html>
  <head>`
    <title><%= title %></title>
    <script src="/javascripts/vendor/angular.js"></script>
    <script src="/javascripts/vendor/angular-bootstrap.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <h1>Quiz Master</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>